// =========
// Colors
// =========

$color_sec: #6d6de6;
$color_bg: #e6e6ff;
$color_box: #fff;

// =========
// Font size
// =========
$font_h1: 3rem;
$font_h2: 1.75rem;
$font_h3: 1.5rem;
$font_p: 1rem;
$font_a: 0.75rem;

// =========
// Other
// =========
$radius: 5px;
